<div class="container">
  <div class="row">

    <div class="col-md-8" role="main">

      <div class="col">
        <input type="number" min="0" max="24" style="width: 120px;" [(ngModel)]="hour">
        :<input type="number" min="0" max="60" style="width: 120px;" [(ngModel)]="minute">
        :<input type="number" min="0" max="60" style="width: 120px;" [(ngModel)]="second">
      </div>





      <div>
        <input type="reset" value="Start"
          [disabled]="timerInProgress || (this.hour == 0 && this.minute ==0 && this.second ==0)" class="btn btn-primary"
          (click)="startTimer();" />
        <input type="button" value="Reset" class="btn btn-secondary" (click)="resetForm();" />
      </div>

      <div>
        <span *ngIf="timerFinished">Timer is finished</span>
      </div>
      <div>
        <span>Start Time
          {{this.startTime.getHours()}}:{{this.startTime.getMinutes()}}:{{this.startTime.getSeconds()}}</span>
      </div>
      <div>
        <span>Duration
          {{this.durationHour}}:{{this.durationMinute}}:{{this.durationSecond}}</span>
      </div>
      <div>
        <span *ngIf="timerFinished">End Time
          {{this.endTime.getHours()}}:{{this.endTime.getMinutes()}}:{{this.endTime.getSeconds()}}</span>
      </div>


    </div>



    <router-outlet></router-outlet>
  </div>
</div>s