<style>
  .center {
    margin: auto;
    width: 50%;
    border: 5px solid #FFFF00;
    padding: 10px;
  }

  .large-tb {
    font-size: large;
    height: 60px;
    width: 60px;
  }
</style>



<div class="center" role="main">



  <input type="number" min="0" max="24" class="large-tb" [(ngModel)]="hour">
  : <input type="number" min="0" max="60" class="large-tb" [(ngModel)]="minute">
  : <input type="number" min="0" max="60" class="large-tb" [(ngModel)]="second">
  <div>
    <input type="reset" value="Start" (click)="startTimer();" />
    <input type="button" value="Reset" (click)="resetForm();" />   
  </div>

  <div>
    <span *ngIf="timerFinished">Timer is finished</span>
  </div>
  <div>
    <span>Start Time {{this.startTime.getHours()}}:{{this.startTime.getMinutes()}}:{{this.startTime.getSeconds()}}</span>
  </div>
  <div>
    <span *ngIf="timerFinished">End Time {{this.endTime.getHours()}}:{{this.endTime.getMinutes()}}:{{this.endTime.getSeconds()}}</span>
  </div>


</div>



<router-outlet></router-outlet>